#login-phone-img {
    position: fixed;
    top: 17%;
    left: 23%;
    z-index: -1;
}

body {
    height: auto;
    width: auto;
    background: rgb(255,255,255);
 
}

.company-header {
    position: relative;
    box-shadow: 4px 2px 4px #000000;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    color: rgb(255,255,255);
    background: -webkit-linear-gradient(#282828, #686868); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#282828, #686868); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#282828, #686868); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#282828 , #686868); /* Standard syntax */
}

.login-form {
    position: fixed;
    left: 40%;
    top:21%;
}

.login-header {
    font-size:  larger;
    text-transform: uppercase;
    display: block;
    border-bottom: solid;
    border-bottom-width: thin;
    text-align: center;
}

.error-message {
    color: rgb(255,0,0);
    font-size: small;
    padding-bottom: 15px;
}

ul {
    list-style: none;
}


::-webkit-input-placeholder {
   color: #ccc;
   font-weight: lighter;
}

::-moz-input-placeholder {
   color: #ccc;
   font-weight: lighter;
}

input[name=user], input[name=pass] {
    width:100%;
}

input[type=password],
input[type=text],
textarea[type=text] {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #000000;
	padding: 5px;
	border: 1px solid #535353;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input[type=text]:hover,
textarea[type=text]:hover {
	outline: none;
	border: 1px solid #bbb;
	box-shadow: none;
}

input[type=password]:focus,
input[type=text]:focus,
textarea[type=text]:focus {
	outline: none;
	border: 1px solid #686868;
	box-shadow: 0 0 5px #282828;
}

textarea[type=text] {
	height: 100px;
}

.button[type=submit]{
    margin-left: 30px;

}

.button {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	background: #282828;
	border-radius: 5px;
	padding: 5px;
        min-width: 100px;
}

.button:hover {
	background:  #686868;
}

.logout_button {
    float: right;
    background: #686868;
}

input.error, textarea.error {
	border: 1px solid #dd212b;
	box-shadow: 0 0 5px #ed1b24;
}


/* References: 1) http://iqonicdesign.com/ui/ */